-@page_title = "#{t("activerecord.models.country", count: 2)}"
-content_for :breadcrumb do
  %li
    = link_to t("activerecord.models.country", count: 2), admin_countries_path, :title => t("activerecord.models.country", count: 2)
  %li.current
    =t("helpers.new_model", :model => t("activerecord.models.country", :count => 1))

.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        =t("helpers.new_model", :model => t("activerecord.models.country", :count => 1))
      .panel-body
        = bootstrap_nested_form_for @country, :url => admin_countries_path, :layout => :horizontal, :label_col => "col-sm-2", :control_col => "col-sm-10", :inline_errors => true, :builder => CustomBootstrapFormBuilder do |f|
          != render :partial => "form", :locals => {:f => f}
