%tr
  %td= link_to carrier.acronym, admin_carrier_path(carrier)
  %td= carrier.name
  %td.text-center
    .btn-group.btn-group-xs
      %a.tablectrl_small.btn.btn-default.tipS{:href => admin_carrier_path(carrier), :title => t("helpers.view_model_fem", model: t("activerecord.models.carrier", count: 1))}
        %span.glyphicon.glyphicon-eye-open
      %a.tablectrl_small.btn.btn-default.tipS{:href => admin_carrier_contacts_path(carrier), :title => t("activerecord.models.contact", count: 2)}
        %span.glyphicon.glyphicon-envelope
      %a.tablectrl_small.btn.btn-default.tipS{:href => edit_admin_carrier_path(carrier), :title => t("helpers.edit_model_fem", model: t("activerecord.models.carrier", count: 1))}
        %span.glyphicon.glyphicon-pencil
      = link_to admin_carrier_path(carrier), :method => :delete, data: { confirm: t("helpers.confirm_delete_model_fem", model: t("activerecord.models.carrier", count: 1)) }, :class => "tablectrl_small btn btn-default tipS", :title => t("helpers.delete_model_fem", model: t("activerecord.models.carrier", count: 1)) do
        %span.glyphicon.glyphicon-remove
